$primary-color:#120E24;
$second-color:#695d80;
$second-clrLight:#beacdf;
$bg-color:#0E0E15;
$hover-color:#7E0532;
$third-color:#FFC851;

$monsterrat: 'Montserrat', sans-serif;
$nunito:'Nunito', sans-serif;
$oswald: 'Oswald', sans-serif;
$rubik:'Rubik', sans-serif;
$Gfonts:'Montserrat','Nunito','Oswald','Rubik', sans-serif,'Passions Conflict','Ms Madi', cursive;
$modi:'Ms Madi', cursive;
$passion: 'Passions Conflict', cursive;