* {
  box-sizing: inherit;
}
body {
  color: #444;
  font-size: 16px;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
}

.msg {
  color: rgba(0, 0, 0, 0.75);
  font-size: 21px;
  font-weight: lighter;
  line-height: 37px;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
}
.msg h1 {
  font-weight: lighter;
  font-size: 40px;
  line-height: 37px;
  margin: 20px 0;
}

.img {
  width: 300px;
  height: 300px;
  margin-top: 40px;
}

.link-msg {
  font-size: 16px;
  margin: 2%;

  text-align: center;
  line-height: 16px;
}

.link-msg a {
  color: #005ff8;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  padding-right: 40px;
}

.link-msg a:hover {
  color: #005ff8;
  text-decoration: underline;
  cursor: pointer;
}
.link-msg ul {
  list-style-type: none;
}
.link-msg li {
  margin: 10px;
}
