@font-face {
  font-family: Minecrafter;
  src: url(/assets/fonts/Minecrafter.Reg.ttf);
}
@font-face {
  font-family: MinecrafterAlt;
  src: url(/assets/fonts/Minecrafter.Alt.ttf);
}
@font-face {
  font-family: Minecraftia-Reg;
  src: url(/assets/fonts/Minecraftia-Regular.ttf);
}
@font-face {
  font-family: Minecraftia-icon;
  src: url(/assets/fonts/minecraft_10-icons.ttf);
}
@font-face {
  font-family: craft-icon;
  src: url(/assets/fonts/craft-icons.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
