$amber-bld: AmazonEmber_Bd;
$amber-light: AmazonEmber_Lt;
$amber-reg: AmazonEmber_Rg;
$bookerly: BookerlyLCD_It;
$amjp-bld: AM-JP-Bold;
$amjp-light: AM-JP-Light;
$amjp-reg: AM-JP-Reg;

//? colors

$nav-primary: #131921;
$nav-second: #232f3e;
$nav-third: #d8f7eb;
$content-gray-text: #565959;

$content-links-clr: #007185;
$content-links-hover: #c7511f;
$price-color: #b12704;

$nav-content-primary: #0f1111;
$nav-content-second: #949494;

$background-btn-bottom-content: #ffd814;
$border-btn-bottom-content: #fcd200;
