@import "vars";

@media (max-width: 900px) {
  header {
    .nav-container-top {
      .nav-top-left {
        .deliver {
          white-space: nowrap;
          margin-left: 0px;
          margin-top: 0.6em;
        }
      }
      .nav-top-mid {
        .search-bar {
          width: auto;
          .category-menu {
            .example {
              width: 26vh;
              margin-right: 0;
              input[type="text"] {
                width: 70%;
              }
              button {
                width: auto;
              }
              select {
                width: 1.3em;
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    .first-section {
      display: block;

      .content-left {
        display: block;
        .img-preview-mini {
          .thumb {
            display: flex;
            margin: 0 2em;
            li {
              margin-right: 2em;
            }
          }
        }
      }
      .content-center {
        h2 {
          max-width: 402px;
        }
      }
    }

    .footer {
      .block-container {
        .center-content-cards {
          ul {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
